@use "main" as *;

p:empty {
  display: none;
  line-height: 0;
}

h1, h2, h3 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.social-graph {
  display: block;
  width: 300px;
  position: relative;
  box-shadow: 10px 10px;

  .title, .description, .site_name {

  }

  .text-body {
    margin: 10px;
  }

  .image {
    width: 100%;
    height: 200px;
    aspect-ratio: auto;
  }

  .title {
    font-size: 30px;
  }

  a {
    width: 100%;
    height: 100%;
    z-index: 100;
    text-decoration: none;
  }

 
}