@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
* {
  font-family: "Open Sans", serif;
  background-color: #f5f3f3;
  font-size: 22px;
  line-height: 34px;
  word-spacing: 7px;
}

body {
  margin: auto;
  width: 95%;
}
@media (min-width: 767px) {
  body {
    width: 90%;
  }
}
@media (min-width: 992px) {
  body {
    width: 80%;
  }
}
@media (min-width: 992px) {
  body {
    width: 70%;
  }
}
body h2,
body h3 {
  color: blue;
}

@media (min-width: 767px) {
  img {
    width: 90%;
  }
}
img {
  aspect-ratio: auto;
}

p:empty {
  display: none;
  line-height: 0;
}

h1, h2, h3 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.social-graph {
  display: block;
  width: 300px;
  position: relative;
  box-shadow: 10px 10px;
}
.social-graph .text-body {
  margin: 10px;
}
.social-graph .image {
  width: 100%;
  height: 200px;
  aspect-ratio: auto;
}
.social-graph .title {
  font-size: 30px;
}
.social-graph a {
  width: 100%;
  height: 100%;
  z-index: 100;
  text-decoration: none;
}