@use "variables" as *;
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';


* {
  font-family: 'Open Sans', serif;
  background-color: #f5f3f3;
  font-size: 22px;
  line-height: 34px;
  word-spacing: 7px;
}

body {
  margin: auto;
  width: 95%;

  @include respond-to('small') {
    width: 90%;
  }
  @include respond-to('medium') {
    width: 80%;
  }
  @include respond-to('medium') {
    width: 70%;
  }

  h2,
  h3 {
    color: blue;
  }
}

img {
  @include respond-to('small') {
    width: 90%;
  }
  aspect-ratio: auto;
}

