{% assign url = url | default: 'https://twitter.com/' %}
{% assign query = 'url=' | append: url %}
{% assign request = 'https://publish.twitter.com/oembed?' | append: query %}
{% assign json = request | get_json %}
{% assign width = width | default: 100 %}
{% assign height = height | default: 100 %}

<div style="width: {{ width }};height: {{ height }}" >
    {{ json.html }}
</div>
