name: Dart

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: bin/main.exe
          key: ${{ runner.os }}-cache

      - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      - name: Install dependencies
        run: dart pub get

      - name: Analyze project source
        run: |
          dart analyze

      - name: Run tests with coverage
        run: |
          dart test --concurrency=1 --coverage=coverage test
          dart run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --report-on=lib --ignore-files "lib/**.g.dart" --ignore-files "lib/**.freezed.dart"

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-lcov
          path: coverage/lcov.info

      - name: generate
        run: dart run build_runner build

      - name: compile
        run: dart compile exe bin/main.dart
